@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(135deg, #000000, #0a0f2c, #1a1a40, #2b2d55);

}

